[Desktop Entry]
Name=higan
Comment=NES, SNES, Game Boy, Game Boy Advance emulator
Exec=higan
Icon=higan
Terminal=false
Type=Application
Categories=Game;Emulator;
